.header {
    background-color:black;
    text-align: center;
    padding: 20px;
  }
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   text-align: center;
   padding: 10px;
}
.iifms-heading-logo{

}
.iifms-logo{
  
}

.iifms-heading{
    font-size: 13px;
    color: white;
    padding-bottom: 10px;
}
* {
    box-sizing: border-box;
  }
   .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  .column-sub-heading
  {
      font-size: 12px;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    position: center;
    row-gap: 5px;
  }
 .container{
     width: 100%;
}
 .container-services {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .service-heading{
    padding-right: 150px;
  }
  .jumbotron {
    margin-bottom: 0;
    }
  .verticalline {
    border-right: 1px solid black;
    height: 60px;
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 0;
  }
  .button {
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    }
  .paragraphs{
      font-size: 12px;
  }
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  .topnav .search-container {
  float: right;
}
.topnav input[type=text] { 
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button:hover {
  background: #ccc;
}

