<div class="header">
    <div class="iifms-heading">
    <img class="iifms-heading-logo" src="/assets/images/log in page/LOGO.png"/>chennai international airport MAA)</div>
    <img class="iifms-logo" src="/assets/images/log in page/LOGO.png"/>
    <input type="text" placeholder="Search.." name="search" size="35">
   

 

      

        </div>
       
  <div class="jumbotron">
  <div class="container text-center">
    </div>
</div>
<div class="container">
    <div class="container-fluid bg-3 text-center"> 
    <div class="service-heading">  
    CLEANING SERVICES
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="verticalline"></div>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="paragraphs">
          DAILY
        </div>
        <button class="button">BOOK NOW</button>
        </div>
        <div class="col-xs-4"> 
        <div class="verticalline"></div>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="paragraphs">
          DAILY
        </div>
        <button class="button">BOOK NOW</button>
      </div>
      <div class="col-xs-4"> 
         <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
       <div class="paragraphs">
        DAILY
      </div>
       <button class="button">BOOK NOW</button>
      </div>
     </div>
  </div><br>
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-xs-4">
        <div class="verticalline"></div>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"><div class="vl"></div>
        <div class="paragraphs">
          DAILY
        </div>
        <button class="button">BOOK NOW</button>
      </div>
      <div class="col-xs-4"> 
        <div class="verticalline"></div>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="paragraphs">
          DAILY
        </div>
        <button class="button">BOOK NOW</button>  
      </div>
      <div class="col-xs-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <div class="paragraphs">
        DAILY
      </div>
      <button class="button">BOOK NOW</button>
      </div>
     </div>
  </div>
  <div class="container-fluid bg-3 text-center"> 
    <div class="service-heading">  
    TECNICAL SERVICES
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="verticalline"></div>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="paragraphs">
          DAILY
        </div>
        <button class="button">BOOK NOW</button>
        </div>
    <div class="col-xs-4"> 
        <div class="verticalline"></div>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <div class="paragraphs">
          DAILY
        </div>
        <button class="button">BOOK NOW</button>
      </div>
      <div class="col-xs-4"> 
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
       <div class="paragraphs">
        DAILY
      </div>
      <button class="button">BOOK NOW</button>
      </div>
     </div>
    <div class="footer">
  <div class="row">
        <div class="column">
          <img src="/assets/images/log in page/LOGO.png">
          <div class="column-sub-heading">
            HOME
        </div>
    </div>
       <div class="row">
        <div class="column">
          <img src="/assets/images/log in page/LOGO.png">
          <div class="column-sub-heading">
            HOME
        </div>
    </div>
    <div class="row">
        <div class="column">
          <img src="/assets/images/log in page/LOGO.png">
          <div class="column-sub-heading">
            HOME
        </div>
    </div>
    <div class="row">
        <div class="column">
          <img src="/assets/images/log in page/LOGO.png">
          <div class="column-sub-heading">
            HOME
        </div>
    </div>
    </div>

