<!-- <div class="container-fluid"> -->
<div class="iifms-mobilenopage">
  <div class="mbl-text1">Enter mobile number</div>
  <div class="mob-text">
  <div class="number">
    <input
      type="text"
      class="flag-icon"
      name="mobile-number"
      value="+91   9876543210"
    />
  </div>
</div>
  <div class="black-text">
    <div class="bottom-text1">
      By continuing, I confirm that i have read & agree to the
    </div>
    <div class="bottom-text2">Terms&conditions and Privacy policy</div>
    <div routerLink="/otp" class="continue-button">
        <button type="submit">CONTINUE</button>
      </div>
  </div>
 
</div>

<!-- </div> -->
