.iifms-mobilenopage{
    background-color: black;
    height: 100%;
    width: 100%;
}
.mbl-text1{
    color: white;
    margin-left:35px ;
    padding-top: 200px;
    font: bold;
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 25px;
}
.flag-icon{
    background-image: url("/assets/images/contact/flag.png");
    /* padding-left: 2px; */
    margin-top: 10px;
    background-position: left;
    background-repeat: no-repeat;
}
.number input{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-left: 2px; */
    color: black;
    background-color:orange;
    border:2px solid orange;
    width: 100%;
    font-family: cursive;
    /* padding-bottom: 15px; */
    text-align: center;
}
 .black-text
 {
    padding-top:50px;
    
    text-align: center; 
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
 }

 .mob-text
 {
    text-align: center; 
    padding-left: 20px;
    padding-right: 20px;
  
 }
.bottom-text1{
  
  padding-bottom: 2px;
}
button
{
    background-color: orange;

}

.continue-button{
    background-color:orange;
    color:black;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    width: 100%;
}
