
 .iifms-otp{
     background-color: black;
     width: 100%;
     height:100%;
 }
 .otp-text1{
     font-size: 20px;
     color: white;
     padding-top: 150px;
     margin-left:20px;
     /* font-family: 'Times New Roman', Times, serif; */
 }
 .otp-text2{
     /* text-align: center; */
     color:dimgray;
     padding-top:60px;
     margin-left:20px;
     padding-bottom: 6px;

 }
 .otp-text3{
     color: whitesmoke;
     margin-left:20px;
     padding-bottom: 40px;


 }
 .iifms-edit{
     padding-bottom:20px;
 }
 .iifms-btn{
    background-color:chocolate;
    width: 90%;
    border-radius: 24px !important;
    color: white;
    padding-left:4%;
    padding-right:4%;
    text-align: center;
    margin-left:5%;
    margin-right: 5%;
    padding-top:12px;
    padding-bottom:12px;
 }
 .otp-box input{
     background: black;
     border:1px solid black;
     border-bottom:1px solid white;
     width:50px;
     margin-right:20px;
     text-align: center;
     padding-bottom: 10px;                                      

 }
 .otp-box{
     margin-bottom:20px;
     
 }
 .otp-resend{
     color:dimgray;
     padding-left: 20px;
     margin-top: 25px;
     text-align: center;


 }
 .textbox-center{
     /* float: left; */
     padding-left: 20px;
 }
