    <div class="iifms-otp">
        <div class="otp-text1">OTP Verification</div>
        <div class="otp-text2">Enter the 4-digit code sent to you at</div>
        <div class="otp-text3">+91 9876543210 <a href="#" class="iifms-edit">  Edit</a></div>
        <div class="textbox-center">
            <div class=" otp-box ">
                <input type="text" name="number1" value="5">
                <input type="text" name="number1" value="0">
                <input type="text" name="number1" value="3">
                <input type="text" name="number1" value="8">
            </div>

        </div>
        <div class="text-center" routerLink="/welcomepage">
            <button type="submit"  class="iifms-btn">SUBMIT</button>
        </div>
        <div class="otp-resend">
            Resend code in 02:59
        </div>

    </div>