/*welcome page on iifms--welcomepage.html-- */
.iifms-welcome{
    background: black;
    width: 100%;
    height: 640px;
}
.startingpage-logo{
    margin-bottom: 10px;
    margin-left: 5px;
}
.welcome-text1{
    padding-left: 3px;
    letter-spacing: 2px;
    text-align: center; 
    color: white;
    font-weight: bold;
    font-size:45px;
    padding-top: 150px;

}
.welcome-text2{
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-size:8px;
    font-style: italic;
    margin-top:20%;
    margin: -10px ;
    margin-bottom: 20px;
    padding-bottom: 30px;;


}
.welcome{
    font-family: sans-serif;
    font-size: 20px;
    font:bold;
    text-align: center;
    color:white;
    /* margin-left:50px; */
}
.iifm{
    font-family: sans-serif;
    font:bold;
    font-size: 20px;
    text-align: center;
    color: white;
}
.welcome-text4{
    color:lightcyan;
    margin: 40px;
    font-size: 12px;
    text-align: center;
    font-family:  sans-serif;
}
.welcome2-btn{
    background-color: chocolate;
   width: 80%;
   margin-left: 30px;
   padding-bottom: 2px;
   border-radius: 20px !important;
   color: white;
   margin-top:30px;
  
}