    <div class="iifms-welcome">
        <div class="welcome-text1">
            <img class="iifms startingpage-logo" src="/assets/images/log in page/LOGO.png"/>IIFMS
        </div>
        <div class="welcome-text2">INCARE A CARING ATTITUDE</div>
        <div class="welcome-text3">
            <div class="welcome">Welcome to</div>
            <div class="iifm">IIFM Service Application</div>
        </div>
        <div class="welcome-text4">
            <div class="text-4-1">Take a pick from a variety of services.</div>
            <div class="text-4-2">Bring home verified and certified professionals</div>
            <div class="text-4-3">to get satisfied results.Also.get dedicated</div>
            <div class="text-4-4">customer support.</div>

        </div>
        <div class="container">
            <div class="iifms welcome-btn">
                <a routerLink="/maid" class="btn welcome2-btn" role="button">Get Started</a>
            </div>
        </div>

    </div>
