<div class="iifms-language">
  
 <div class="heading">
 <p></p>
 Choose language
</div>
 <div class="myUL">
 <ul style="list-style-type:none;">
  <li><a href="#">Arabic</a></li>
  <li><a href="#">Chinese</a></li>
  <li><a routerLink="/location">English</a></li>
  <li><a href="#">Korean</a></li>
  <li><a href="#">Urdu</a></li>
</ul>

 
 </div>


</div>
