.iifms-language {
  background-color: black;
  height: 100vh;
}
.heading {
  text-align:left;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  margin-left: 20px;


}
  .myUL li a {
  border: 1px solid black;
  margin-top: -1px; 
  background-color:black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color:white;
  display:block;
  list-style-type:none;
  padding-left: 0px;

}

.myUL li a:hover:not(.header) {
  background-color:orange;
}