/*security services page ---securityservicepage.html--*/
.clng-page3{
    background-color: chocolate;
    height: 640px;
    width:100%;
}
.maid-img3{
    /* margin-top: 10px; */
    text-align: center;
    /* margin-bottom: px; */

}
.img-text3{
    /* padding-top: 15px; */
    color:white;
    text-align:center;
    font-size: 20px;
    font: bold;
    font-family: sans-serif; padding-top: 10px;
    /* padding-bottom: 10px; */
    color:white;
    text-align:center;
    font-size: 20px;
    font: bold;
    padding-top: 30px;
    font-family: sans-serif;
}
.dot-button3{
    text-align: center;
}

.dot3{
     padding: 10px;
    width:20px;
    height: 20px;
    margin-right: 0px;
    margin-left: auto;
    cursor: pointer;
    margin: 0 3px;
    background-color: orange;
    border-radius:50%;
    display:inline-block;
    transition: background-color white;
    }

.cliningpage-btn3{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    border-radius: 50px !important;
    color:chocolate;
    display: block;
    padding: 10px;
}
.imgbottom-text3{
    /* padding-top: 10px; */
    padding-bottom:20px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.security-image{
    text-align: center;
}
