<div class="clng-page3">
    <div class="img-text3">Security Services</div>
    <div class="security-image">
        <img class="maid-img3" src="/assets/images/skip 3/security.png" />
    </div>
    <div class="imgbottom-text3">We'll do all Cleaning work for you!</div>
    <div class="dot-button3">
        <a routerLink="/maid" class="btn dot3" role="button"></a>
        <a routerLink="/character" class="btn dot3" role="button"></a>
        <a routerLink="/securityservice" class="btn dot3" role="button"></a>
    </div>
    <div class="container">
        <div class="clng-btn">
            <a routerLink="/homepage" class="btn cliningpage-btn3" role="button"> Start </a>
        </div>
    </div>
</div>