
  <div class="iifms-login">
 <div class="iifmsheading">
  <img class="iifms-logo" src="/assets/images/log in page/LOGO.png"/>IIFMS </div>
        <div class="subheading">INCARE A CARING ATTITUDE</div>
    
      <!-- <div class="subheading">
        <p>INCARING A CARING ATTITUDE</p>
      </div> -->
      
      <div class="container">
      <div class="placeholder">

        <input type="text" placeholder="Enter Username" name="uname" required>
        <input type="password" placeholder="Enter Password" name="psw" required>
      </div>
        <button routerLink="/welcomepage" type="submit">LOGIN</button>
        

      </div>


      <div routerLink="/resetpassword" class="psw">Forgotten your password?</div>

      
      <div class="account"> Need an account?</div>
      <div class="center" ><a class="sign-up"  routerLink="/signup2">SIGNUP</a></div>

  
  </div>
