.iifms-login {
  background-color: black;
  /* padding-top: 250px; */
  height: 700px;
  width: 100%;
}

  .iifmsheading {
    padding-top: 160px;
    text-align: center;
    color: chocolate;
    font-size: 50px;
    font-family: sans-serif;
    
  }
  .iifms-logo{
    padding-bottom: 10px;
  }
   .subheading {
    
    font-size: 9px;
    color: white;
    text-align: center;
    padding-top:-1px;
    font-family: sans-serif;
    margin-top: -15px;
    padding-bottom: 20px;
  
    font-style:italic;
    letter-spacing:1px;
    }
   

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid chocolate;
    box-sizing: border-box;
    background-color:chocolate;
    color:white;
    
    

  }
  .placeholder{ 
    color:black;
    opacity: 1; 
  }
  

  button {
    background-color:orange;
    color:white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  

  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
    background-color: black;

  }
  

.psw {
  cursor: pointer;
    padding-top: 5px;
    text-align:center;
    color:white;
    margin-top: -25px;
}
.account { 

text-align:center;
color:white;
margin-top: 15px;
padding-top: 40px;

}/*
.signup {
text-align:center;
margin-top: 5px;
color: white;
padding-bottom: 60px;
}*/
.sign-up{
  text-decoration: underline;
  
text-align:center;
margin-top: 5px;
color: white;
padding-bottom: 60px;
 }
 .center
 {
  text-align: center;
   text-align:center;
 }
   
 ::placeholder{
   color: white;
 } 