    <div class="iifms-reset">
        <div class="text-reset">Reset Password</div>
        <div class="new-password">New Password</div>
        <div class="text-box1">
            <input type="password" name="newpassword" value="1225">

        </div>
        <div class="reset-password">Reset Password</div>
        <div class="text-box2">
            <input type="password" name="resetpassword" value="1225">

        </div>
        <div class="iifms password-btn">
                <a href="#" class="btn resend-btn" role="button">RESET</a>
        </div>  

    </div>