/*Reset password page--resetpassword.html--*/
.iifms-reset{
    background: black;
    height:640px;
    width:100%;
}
.text-reset{
    color: white;
    /* text-align: center; */
    font-size: 200%;
    padding-top: 200px;
    padding-left:30px;
    /* padding-bottom: 25px; */
}
.text-box1 input{
    background: black;
    padding-top: 100px;
    border:1px solid black;
    border-bottom:1px solid white;
    width:80%;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;



}
.new-password{
    padding-top: 40px;
    padding-left:30px;

}
.text-box2 input{
    background: black;
    padding-top: 100px;
    border:1px solid black;
    border-bottom:1px solid white;
    width:80%;
    padding-bottom: 20px;
    margin-left: 30px;
    padding-top: 10px;


}
.resend-btn{
    background-color:chocolate;
    width: 80%;
    border-radius: 20px !important;
    color: white;
    /* margin-top: 100px; */
    padding-bottom: 10px;
    padding-right:10px;
    text-align: center;
    margin-left:20px;
    margin-top:80px;
}
.reset-password{
    padding-top: 40px;
    padding-left:30px;

}