    <div class="clng-page">
        <div class="img-text">All types of Cleaning services</div>
        <div class="maid-image-wrapper">
            <img class="maid-img" src="/assets/images/skip 1/maid.png" />

        </div>
        <div class="imgbottom-text">We'll do all Cleaning work for you!</div>
        <div class="dot-button1">
            <a routerLink="/maid" class="btn dot1" role="button"></a>
            <a routerLink="/character" class="btn dot1" role="button"></a>
            <a routerLink="/securityservice" class="btn dot1" role="button"></a>
        </div>
        <div class="container">
            <div class="clng-btn">
                <a routerLink="/character" class="btn cliningpage-btn" role="button">Next </a>
            </div>
        </div>
    </div>