    <div class="front-page">
            <div routerLink="/language" class="centered iifms-logo-text">
                <img  class="iifms-logo" src="/assets/images/log in page/LOGO.png" />IIFMS
                <div class="text2">INCARE A CARING ATTITUDE</div>
            </div>
            
    </div>