/* iifms first page--iifms.html--*/
.front-page{
    background: black;
    width: 100%;
    height: 100vh;
 }
 .iifms-logo{
    padding-bottom: 10px;
    padding-right: 5px;
} 
 .iifms-logo-text{
     /* font: bold !important; */
     text-align: center;
     color:chocolate;
     /* padding-bottom: 50px; */
     /* padding-top: 20%; */
     font-size: 40px;
     /* padding-right: 20px; */
     font-family: sans-serif;
     letter-spacing: 2px;
     font-style: normal;
 }
 .text2{
     text-align: center;
     color: white;
     letter-spacing: 1px;
     font-size:8px;
     font-style: italic;
     margin-top:20%;
     margin: -10px ;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}