.iifms-signup {
  background-color: orange;
  padding-top: 70%;
  height: 100%;
  padding-bottom: 85px;
}
/* background-color:orange;
    padding-top:470px;
    height: 100%


   } */
.iifms-logo {
  padding-bottom: 1px;
}
.iifmsheading {
  padding-top: 50px;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  margin-top: -145px;
}

.subheading {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.932);
  text-align: center;
  font-family: sans-serif;
  margin-top: 10px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-weight: bold;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 20px; */
}

button {
  background-color: orange;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  width: 100%;
}
.container {
  padding: 16px;
  margin-top: -85px;
}
.myULhover {
  background-color: black;
}

.location-icon-2 img {
  height: 18px;
  border-style: dashed;
  border-color: black;
}
.location-icon-1 button {
  padding: 14px 20px;
  margin: 8px 0;
  background-color: black;
  color: orange;
  border-radius: 8px;
  border-color: orange;
  border-style: solid;
  border-width: 2px;
}

.finder-icon {
  background-image: url("/assets/images/loction/finder icon.png");
  margin-top: 10px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: black; */
}
