<!-- <div class="container-fluid"> -->
    <div class="iifms-signup">
        <div class="iifmsheading">Hi nice to meet you</div>


        <div class="subheading">See services around</div>

        <img class="img"src="/assets/images/loction/globe illustration.png">


        <div class="container">
            <div routerLink="/signup" class="location-icon-1">

                <button type="submit"><img src="/assets/images/loction/location-icon.png"> Your current location</button >
                <!-- <img src="/assets/images/loction/location-icon.png"> -->

            </div>
            <div class="location-icon-2">
                <button type="submit"><img src="/assets/images/loction/finder icon.png"> Some other location</button>


            </div>
        </div>
    </div>
    <!-- </div> -->