/*second clining page*/
.clng-page2{
    background-color: chocolate;
    height: 640px;
    width:100%;
}
.maid-img2{
    margin-top: 50px;
    width: 300px;
    padding-top: 25px;
}
.img-text2{
    padding-top: 50px;
    color:white;
    text-align:center;
    font-size: 20PX;
    font: bold;
    /* font-family: 'Courier New', Courier, monospace; */
}

.dot-button2{
    text-align: center;
}
.dot2{   
        padding: 10px;
        width:20px;
        height: 20px;
        margin-right: 0px;
        margin-left: auto;
        cursor: pointer;
        margin: 0 3px;
        background-color: orange;
        border-radius: 50%;
        display:inline-block;
        transition: background-color white;
        margin-top: 20px;
    }
.cliningpage-btn2{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    border-radius: 50px !important;
    color:chocolate;
    display: block;
    padding: 10px;


}
.imgbottom-text2{
    padding-top: 10px;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;

}
.character-image{
    text-align: center;
}