<!-- <div class="container-fluid"> -->
    <div class="clng-page2">
        <div class="img-text2">All types of Cleaning services</div>
        <div class="character-image">
            <img class="maid-img2" src="/assets/images/skip 2/character.png"/>
        </div>
        <div class="imgbottom-text2">We'll do all Cleaning work for you!</div>
        <div class="dot-button2">
            <a routerLink="/maid" class="btn dot2" role="button"></a>
            <a routerLink="/character" class="btn dot2" role="button"></a>
            <a routerLink="/securityservice" class="btn dot2" role="button"></a>
        </div>
        <div class="container">
            <div class="clng-btn">
                <a routerLink="/securityservice" class="btn cliningpage-btn2" role="button">Next </a>
            </div>
        </div>

    </div>
<!-- </div> -->