
       .iifms-login {
       background-color: black;
       padding-top: 10%; 
       height: 100%;
       width: 100%;
        }
        .iifms-logo{
        padding-bottom: 10px; 

        }
        .iifmsheading {
        padding-top: 100px;
        text-align: center;
        color: chocolate;
        font-size: 50px;
        font-family: sans-serif;
        }
        .subheading {
          font-size: 9px;
          color: white;
          text-align: center;
          padding-top:-1px;
          font-family: sans-serif;
          padding-bottom: 20px;
          opacity: 0.9;
          font-style:italic;
          letter-spacing: 1px;
          margin-top: -15px;
        }
     
        input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 15px 0;
          display: inline-block;
          border: 1px solid chocolate;
          box-sizing: border-box;
          background-color:chocolate;
          color:white;
          }
     
          button {
            background-color:orange;
            color:white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
          }
          button:hover {
            opacity: 0.8;
          }
          
          .container {
            padding: 16px;
            background-color: black;
            margin-top: -20px;
        
          }
          .account { 
          text-align:center;
          color:white;
          padding-top: 40px;
          margin-top: -35px;
          
        }
         .login {
          text-align:center;
          margin-top: 5px;
          color: white;
          padding-bottom: 60px;
        }
           
         .signup2{
           color:white;
           text-decoration: underline;
        }   
         ::placeholder{
         color: white;
        }

        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px chocolate inset !important;
          -webkit-text-fill-color: white !important;
          caret-color: white;
      }