<!-- <div class="container-fluid"> -->

<div class="iifms-login">

  <div class="iifmsheading">
    <img class="iifms-logo" src="/assets/images/log in page/logo pack.png" />

  </div>

  <div class="container">
    <div class="placeholder">

      <input type="text" placeholder="Enter Username" name="uname" required>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <input type="password" placeholder="Enter Password" name="psw" required>
      <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
    <div routerLink="/mobilenumberpage" class="btnsignup">
      <button type="submit" >SIGNUP</button>
    </div>

  </div>
  <div class="account"> Already have an account?</div>
  <div class="login"><a class="signup2" routerLink="/login">LOGIN</a></div>

</div>
<!-- </div> -->