.iifms-signup{
    background-color: black;
    padding-top:50%; 
    /* height: 700px; */
    height: 100%;

  }
  .iifms-logo{
    padding-bottom: 10px;
  }
  .iifmsheading {
    text-align: center;
    color: chocolate;
    font-size: 50px;
    font-family: sans-serif;
    
    }
    .subheading {
    
      font-size: 8px;
      color: white;
      text-align: center;
      padding-top:-1px;
      font-family: sans-serif;
      margin-top: -15px;
      padding-bottom: 20px;
      opacity: 0.9;
      font-style:italic;
      letter-spacing:1px;
    }
  
     button {
        background-color:orange;
        color:black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      .container {
        padding: 16px;
        background-color: black;
    
      }
  
    

    
