<!-- <div class="container-fluid"> -->
    <div class="iifms-signup">
        <div class="iifmsheading">
            <img class="iifms-logo" src="/assets/images/log in page/logo pack.png" /> </div>
        <!-- <div class="subheading">INCARING A CARING ATTITUDE</div> -->
        <div routerLink="/signup2" class="container">

            <button type="submit">SIGN UP</button>



            <button type="submit">LOG IN</button>

            

        </div>


    </div>
<!-- </div> -->