<div class="front-page">
  <div routerLink="/language" class="centered iifms-logo-text">
      <img  class="iifms-logo" src="/assets/images/log in page/logo pack@2x.png" />
      
      <p class ="spce-less"></p>
      
  </div>
  
</div>